@model OzzaimAhsap.Models.Geridonusler
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/Admin/_AdminLayout.cshtml";
}
<div class="content-wrapper " style="min-height: 236.4px;">
<h1>Oluştur</h1>

<h4>Kullanıcılar</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <form action="/Admin/Geridonuslers/Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ad_soyad" class="control-label">İsim Soyisim</label>
                <input asp-for="ad_soyad" class="form-control" placeholder="İsim Soyisim" />
                <span asp-validation-for="ad_soyad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="telefon" class="control-label">Telefon</label>
                    <input asp-for="telefon" class="form-control" placeholder="Telefon"  />
                <span asp-validation-for="telefon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label">Email</label>
                    <input asp-for="email" class="form-control" placeholder="Email" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="mesaj" class="control-label">Mejas</label>
                    <textarea asp-for="mesaj" class="form-control" placeholder="Mesaj"></textarea>
                <span asp-validation-for="mesaj" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
        <a href="/Admin/Geridonuslers/Index/" class="btn btn-primary">Listeye Geri Dön</a>
</div>

</div>