<section class="info_section">
    <div class="container">
        <div class="contact_nav">
            <a href="https://www.whatsapp.com/" target="_blank">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                    İletişim :0552 664 55 03 
                </span>
            </a>
            <a href="https://www.gmail.com/" target="_blank">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                    Email : Özzaim@gmail.com
                </span>
            </a>
            <a href="https://www.google.com/maps/place/Samsun/data=!4m2!3m1!1s0x408877e97607d663:0xb939cc265fdeb52?sa=X&ved=1t:242&ictx=111" target=_blank>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Konum
                </span>
            </a>
        </div>
        <div class="info_bottom">
            <div class="row justify-content-center">
                <div class=>
                    <div class="social_box">
                        <a href="https://www.facebook.com/" target="_blank">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="https://x.com/?logout=1716039379918" target="_blank">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.linkedin.com/" target="_blank">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="https://www.instagram.com/" target="_blank">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer_section">
    <div class="container">
        <p>
            &copy; <span id="displayYear"></span>Özzaim Ahşap
            
        </p>
    </div>
</footer>
