
@{
    ViewBag.Title = "About";
}
    <section class="about_section layout_padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                Hakkımızda
                            </h2>
                        </div>
                        <p>
                        Karadeniz'in sert iklimine meydan okuyan bir aile geleneği olan Özzaim Ahşap, Hüseyin Özzaim'in tutkusu ve azmiyle Arhavi'nin küçük bir köyünde doğdu. Bu şirket, ahşabın doğallığını modern yaşamla buluşturarak Karadeniz'in ruhunu her parçasında yansıtıyor. Güçlü ve dayanıklı bir miras olarak, her parça bir öykünün ve ailenin birlikte yazdığı destansı bir serüvenin parçasıdır.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="img-box">
                        <img src="~/images/about-img.jpg" alt="">
                    </div>
                </div>

            </div>
        </div>
    </section>
   

