@{
    ViewBag.Title = "Project";
}
<section class="project_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Projeler
            </h2>
        </div>
        <div class="carousel-wrap ">
            <div class="filter_box">
                <h6>
                    KATEGORİ FİLTRESİ
                </h6>
                <nav class="owl-filter-bar">
                    <a href="#" class="item active" data-owl-filter="*">TÜMü </a>
                    <a href="#" class="item" data-owl-filter=".painting">TABLO </a>
                    <a href="#" class="item" data-owl-filter=".reconstruction">
                        YENİDEN YAPILANMA
                    </a>
                    <a href="#" class="item" data-owl-filter=".repair">ONARIMLAR </a>
                    <a href="#" class="item" data-owl-filter=".residential">YERLEŞİM </a>
                    <a href="#" class="item" data-owl-filter=".styling">STİL </a>
                </nav>
            </div>

            <div class="owl-carousel project_carousel">
                <div class="item painting">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/images/IMG-20240505-WA0051.jpg" alt="" />
                            <a href="" class="pin_link">
                                <i class="fa fa-link" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="detail-box">
                            <h5>
                                iç işler
                            </h5>
                            <p>
                                enjekte edilen mizahla veya biraz bile görünmeyen rastgele sözcüklerle bir biçimde değişiklik
                                inandırıcı. Eğer kullanacaksan
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item reconstruction">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/images/IMG-20240505-WA0055.jpg" alt="" />
                            <a href="" class="pin_link">
                                <i class="fa fa-link" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="detail-box">
                            <h5>
                                iç işler
                            </h5>
                            <p>
                                enjekte edilen mizahla veya biraz bile görünmeyen rastgele sözcüklerle bir biçimde değişiklik
                                inandırıcı. Eğer kullanacaksan
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item repair">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/images/IMG-20240505-WA0060.jpg" alt="" />
                            <a href="" class="pin_link">
                                <i class="fa fa-link" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="detail-box">
                            <h5>
                                iç işler
                            </h5>
                            <p>
                                enjekte edilen mizahla veya biraz bile görünmeyen rastgele sözcüklerle bir biçimde değişiklik
                                inandırıcı. Eğer kullanacaksan
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item residential">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/images/IMG-20240505-WA0068.jpg" alt="" />
                            <a href="" class="pin_link">
                                <i class="fa fa-link" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="detail-box">
                            <h5>
                                İç işler
                            </h5>
                            <p>
                                enjekte edilen mizahla veya biraz bile görünmeyen rastgele sözcüklerle bir biçimde değişiklik
                                inandırıcı. Eğer kullanacaksan
                            </p>
                        </div>
                    </div>
                </div>
                <div class="item styling">
                    <div class="box">
                        <div class="img-box">
                            <img src="~/images/IMG-20240505-WA0067.jpg" alt="" />
                            <a href="" class="pin_link">
                                <i class="fa fa-link" aria-hidden="true"></i>
                            </a>
                        </div>
                        <div class="detail-box">
                            <h5>
                                İç işler
                            </h5>
                            <p>
                                enjekte edilen mizahla veya biraz bile görünmeyen rastgele sözcüklerle bir biçimde değişiklik
                                inandırıcı. Eğer kullanacaksan
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



