@{
    ViewBag.Title = "Testimonial";
}
<section class="client_section layout_padding">
    <div class="container">
        <div class="heading_container heading_center">
            <h2>
                Referans
            </h2>
        </div>
    </div>
    <div id="customCarousel2" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 mx-auto">
                            <div class="box">
                                <div class="img-box">
                                    <img src="~/images/client.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <div class="client_info">
                                        <div class="client_name">
                                            <h5>
                                                Yusuf
                                            </h5>
                                            <h6>
                                                Kafaf
                                            </h6>
                                        </div>
                                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                                    </div>
                                    <p>

                                        Elbette, işte bir ahşap sitesine yazabileceğiniz güzel bir yorum örneği:

                                        Ahşap işçiliğine ve doğal malzemelere olan tutkunuzun bir yansıması olan bu siteye hayran kaldım! Ürünlerinizin her biri zarif tasarımları ve kaliteli işçilikleri ile öne çıkıyor. Ahşap dokusunun doğallığı ve sıcaklığı, mekanlara benzersiz bir hava katıyor. Sitenizden alışveriş yapmak gerçek bir zevk, çünkü her detay büyük bir özenle düşünülmüş. Müşteri memnuniyetine verdiğiniz önemi hissettirmek adına sunduğunuz detaylı ürün açıklamaları ve görseller, alışveriş deneyimini daha da keyifli hale getiriyor. Doğal ve estetik yaşam alanları oluşturmak isteyen herkese bu siteyi gönül rahatlığıyla tavsiye ederim. Harika işlerinize devam edin!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 mx-auto">
                            <div class="box">
                                <div class="img-box">
                                    <img src="~/images/client.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <div class="client_info">
                                        <div class="client_name">
                                            <h5>
                                                Çağdaç
                                            </h5>
                                            <h6>
                                                Kocaman
                                            </h6>
                                        </div>
                                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                                    </div>
                                    <p>

                                        Elbette, işte bir ahşap sitesine yazabileceğiniz güzel bir yorum örneği:

                                        Ahşap işçiliğine ve doğal malzemelere olan tutkunuzun bir yansıması olan bu siteye hayran kaldım! Ürünlerinizin her biri zarif tasarımları ve kaliteli işçilikleri ile öne çıkıyor. Ahşap dokusunun doğallığı ve sıcaklığı, mekanlara benzersiz bir hava katıyor. Sitenizden alışveriş yapmak gerçek bir zevk, çünkü her detay büyük bir özenle düşünülmüş. Müşteri memnuniyetine verdiğiniz önemi hissettirmek adına sunduğunuz detaylı ürün açıklamaları ve görseller, alışveriş deneyimini daha da keyifli hale getiriyor. Doğal ve estetik yaşam alanları oluşturmak isteyen herkese bu siteyi gönül rahatlığıyla tavsiye ederim. Harika işlerinize devam edin!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container">
                    <div class="row">
                        <div class="col-md-10 mx-auto">
                            <div class="box">
                                <div class="img-box">
                                    <img src="~/images/client.jpg" alt="">
                                </div>
                                <div class="detail-box">
                                    <div class="client_info">
                                        <div class="client_name">
                                            <h5>
                                                Halil
                                            </h5>
                                            <h6>
                                                Ertaç
                                            </h6>
                                        </div>
                                        <i class="fa fa-quote-left" aria-hidden="true"></i>
                                    </div>
                                    <p>

                                        Elbette, işte bir ahşap sitesine yazabileceğiniz güzel bir yorum örneği:

                                        Ahşap işçiliğine ve doğal malzemelere olan tutkunuzun bir yansıması olan bu siteye hayran kaldım! Ürünlerinizin her biri zarif tasarımları ve kaliteli işçilikleri ile öne çıkıyor. Ahşap dokusunun doğallığı ve sıcaklığı, mekanlara benzersiz bir hava katıyor. Sitenizden alışveriş yapmak gerçek bir zevk, çünkü her detay büyük bir özenle düşünülmüş. Müşteri memnuniyetine verdiğiniz önemi hissettirmek adına sunduğunuz detaylı ürün açıklamaları ve görseller, alışveriş deneyimini daha da keyifli hale getiriyor. Doğal ve estetik yaşam alanları oluşturmak isteyen herkese bu siteyi gönül rahatlığıyla tavsiye ederim. Harika işlerinize devam edin!
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ol class="carousel-indicators">
            <li data-target="#customCarousel2" data-slide-to="0" class="active"></li>
            <li data-target="#customCarousel2" data-slide-to="1"></li>
            <li data-target="#customCarousel2" data-slide-to="2"></li>
        </ol>
    </div>
</section>
